.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.workingWithUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 1736px;
    margin: 0 auto;
    padding: 144px 96px;
}

ul {
    list-style-type: none;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
}

.features-item {
    position: relative;
    margin: 20px;
    padding: 48px 40px 48px 152px;
    box-sizing: border-box;
    width: calc((100% - 81px) / 2);
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .06);
}

.technologies-list {
    padding-top: 48px;
    padding-bottom: 48px;
    flex-grow: 1;
    background: #fff;
    border: 1px solid #e4ebf7;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .06);
}

.technologies-logo {
    margin-bottom: 48px;
    height: 48px;
    transition: opacity .2s ease-in-out;
}



